* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.name{
  width: 25rem;
  padding: 20px 0;
  background-color: #7399bc;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: .2s;
}
.name:hover{
  background-color: #4c85bb;
  font-size: 2.2rem;
  color: white;

}
.left img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 25rem;
}
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.right img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}